// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

.multiselect__option--highlight {
    background: #D9393D !important;
}

span.multiselect__option.multiselect__option--highlight {
    background: #B33131 !important;
}

.vue-form-wizard .wizard-nav-pills>li>a{
    color: rgba(0,0,0,.6) !important;
}
